<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
     
      <!-- 导入资源文件 -->
	 <context:property-placeholder location="classpath:db.properties"/>
	 
	 <!-- 配置数据源 -->
	 <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	 	 <property name="user" value="${jdbc.user}"></property>
	 	 <property name="password" value="${jdbc.password}"></property>
	 	 <property name="driverClass" value="${jdbc.driverCalss}"></property>
	 	 <property name="jdbcUrl" value="${jdbc.url}"></property>
	 	 <property name="initialPoolSize" value="${jdbc.initialPoolSize}"></property>
	 	 <property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
	 </bean>
	 
	 <!-- 配置hibernate的SessionFactory实例：通过spring的LocalSesionFactoryBean进行配置 -->
	 <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	 	 <!-- 关联数据源 -->
	 	 <property name="dataSource" ref="dataSource"></property>
	 	 <!-- 配置hibernate.cfg.xml文件的位置和名称 -->
	 	 <property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	 	 <!-- 实体类的配置（*.hbm.xml）的配置 -->   
	 	 <property name="mappingLocations" value="classpath:com/wxhl/edu/entity/*.hbm.xml"></property>
	 </bean>
	 
     <!-- 
		<context:component-scan base-package="com.wxhl.edu"></context:component-scan>
	 -->
	 <bean id="userDao" class="com.wxhl.edu.dao.impl.UserDaoImpl">
	 		<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	 <bean id="userService" class="com.wxhl.edu.service.impl.UserServiceImpl">
	 		<property name="userDao" ref="userDao"></property>
	 </bean>
	 <!-- scope="prototype" 设置action是多例，非单例 -->
	 <bean id="user-manager" class="com.wxhl.edu.action.UserManagerAction" scope="prototype">
	 	<property name="userService" ref="userService"></property>
	 </bean>
	 
	 <bean class="com.wxhl.edu.entity.User"></bean>
</beans>
